$breakpoint-desktop: 64rem;
$breakpoint-mobile: 26.6rem;
$font-roboto: Roboto, sans-serif;

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  width: 100%;
  padding-top: 6rem;
  font-family: $font-roboto;

  .container {
    margin: 0 auto;
    max-width: 64rem;
    width: 100%;
    padding: 1.5rem;

    & a {
      color: #000;
      text-decoration: none;
    }

    .brand {
      font-weight: 700;
      font-size: 1.5em;

      .logo {
        height: 3rem;
      }
    }

    .btn,
    .profile,
    &.sing-out {
      height: 2.4rem;
      margin-left: 0.5rem;
    }

    & img {
      height: 2.4rem;
      margin-left: .5rem;
    }

    .btn {
      width: 4.5rem;
      padding: .5rem 1rem;
      margin-right: 1.5rem;
      color: #000;
      text-decoration: none;
      //border: 1px solid #000;
      border-radius: 5px;
      border: 1px solid #000;

      &.sign-up {
        background-color: #000;
        //background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
        color: #fff;
        margin-right: 0;
      }

      &.sign-up {
        font-weight: 500;
      }


    }
  }
}

.brand {
  font-weight: 700;
  font-size: 1.5em;

  .logo {
    height: 3rem;
  }
}

@media only screen and (max-width: $breakpoint-desktop) {
  .nav {
    background-color: #fff;
    padding-top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 10px 0 rgba(0, 0, 0, 0.08);
  }
}





